// Boxes
// boxes-info
.boxes-info {
    .box-info {
        background-color: white;
        padding: 20px 15px;
        text-align: end;
        overflow: hidden;
        border-radius: 0.375rem;
        position: relative;
        box-shadow: 0 0 6px 0 #d3d3d3;
        transition: $transition;
        &:hover {
            box-shadow: 0 0 6px 0 #aeaaaa;
        }
        &.blue {
            .bg-icon {
                color: #5b8af0;
            }
        }
        &.green {
            .bg-icon {
                color: $green-color;
            }
        }
        &.pur {
            .bg-icon {
                color: #7b74eb;
            }
        }
        &.red {
            .bg-icon {
                color: #de5f56;
            }
        }
        .num {
            font-size: 20px;
        }
        .text {
            font-size: 16px;
            color: $text-greey;
        }
        .bg-icon {
            position: absolute;
            right: -3%;
            bottom: 0;
            font-size: 55px;
        }
    }
    &.boxes-bg-color .box-info {
        color: white;
        .text {
            color: white;
        }
        .bg-icon {
            color: white;
        }
        &.blue {
            background-color: #5b8af0;
        }
        &.green {
            background-color: $green-color;
        }
        &.pur {
            background-color: #7b74eb;
        }
        &.red {
            background-color: #de5f56;
        }
    }
}
// boxes-info5
.boxes-info-5 {
    display: grid;
    gap: 15px;
    @include minWidth(md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include minWidth(xl) {
        grid-template-columns: repeat(5, 1fr);
    }
    .box-info {
        background-color: white;
        padding: 25px 15px;
        text-align: end;
        overflow: hidden;
        border-radius: 0.375rem;
        position: relative;
        box-shadow: 0 0 6px 0 #d3d3d3;
        transition: $transition;
        &:hover {
            box-shadow: 0 0 6px 0 #aeaaaa;
        }
        &.blue {
            .bg-icon {
                color: #5b8af0;
            }
        }
        &.green {
            .bg-icon {
                color: $green-color;
            }
        }
        &.pur {
            .bg-icon {
                color: #7b74eb;
            }
        }
        &.red {
            .bg-icon {
                color: #de5f56;
            }
        }
        &.orange {
            .bg-icon {
                color: orangered;
            }
        }
        .num {
            font-size: 25px;
        }
        .text {
            font-size: 16px;
            color: $text-greey;
        }
        .bg-icon {
            position: absolute;
            right: -3%;
            bottom: 0;
            font-size: 60px;
        }
    }
}
// box-header-invoice
.box-header-invoice {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
    display: none;
    @media print {
        display: block;

        .col-md-8 {
            width: 66.66666667% !important;
        }
        .col-md-4 {
            width: 33.33333333% !important;
        }
    }
    .img-logo {
        width: 70px;
    }
}

.own-table {
    width: 100%;
    border-radius: 7px;
    border: none !important;
    border: 1px solid $light-grey-color !important;
    tr {
        border: 1px solid $light-grey-color !important;
        th {
            background-color: $light-greey;
            color: $text-greey;
            font-size: 12px;
            font-weight: bold;
            white-space: nowrap;
            padding: 10px;
        }
        td {
            background-color: white;
            font-size: 15px;
            padding: 10px;
        }
    }
}

// Tables
// Main Table
.main-table {
    width: 100%;
    border-radius: 7px;
    border: none !important;
    text-align: center;
    border: 1px solid $light-grey-color !important;
    *:not(.form-control, .btn) {
        border: none;
    }
    tr {
        border: 1px solid $light-grey-color !important;
        th {
            background-color: $light-greey;
            color: $text-greey;
            font-size: 12px;
            font-weight: bold;
            white-space: nowrap;
            padding: 10px;
            .dd {
                .nn {
                    font-size: 10px !important;
                }
            }
        }
        td {
            background-color: white;
            font-size: 15px;
            padding: 10px;
            vertical-align: middle;
        }
        .drop-table {
            .dropdown-toggle {
                &::after {
                    content: none;
                }
            }

            .dropdown-menu {
                transition: $transition;
                opacity: 0;
                visibility: hidden;

                li {
                    .dropdown-item {
                        text-align: start;
                        font-size: 13px;

                        i,
                        svg,
                        img {
                            width: 18px;
                        }
                    }
                }

                &.show {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

// Lists
.main-list-group {
    .list-group-item {
        padding: 15px 10px;
        position: relative;
        .badge-count {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }
        &.active {
            background-color: $green-color !important;
            border-color: $green-color;
        }
    }
}

// scroll top btn
.up-btn {
    position: relative;
    overflow: hidden;
    bottom: 15px;
    right: -20%;
    width: 45px;
    height: 45px;
    background-color: $green-color;
    transition: $main-transition;
    z-index: 99999;
    font-size: large;
    @include centering;
    cursor: pointer;
    &.show {
        right: 15px;
    }
    > svg {
        position: absolute;
        transition: $main-transition;
        font-size: 23px;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    .tooth-icon {
        top: 50%;
    }
    .up-ar {
        top: 200%;
    }
    &:hover .up-ar {
        top: 50%;
    }
    &:hover .tooth-icon {
        top: -100%;
    }
}
/*start nav taps*/

//main nav tap
.main-nav-tap {
    margin-bottom: 0 !important;
    border-radius: 0;
    flex-wrap: nowrap !important;
    .nav-item {
        flex: 1;
        .nav-link {
            white-space: nowrap !important;
            border-radius: 0 !important;
            background-color: $light-greey2 !important;
            color: black !important;
            width: 100% !important;
            font-size: 12px !important;
            padding: 8px 14px;
            text-align: center;
            &.active {
                color: white !important;
                background-color: $green-color !important;
            }
        }
    }
    @include maxWidth(xl) {
        background-color: $light-greey2 !important;
        .nav-item {
            flex: 0;
        }
    }
}
// main tab content
.main-tab-content {
    border: 1px solid $light-grey-color;
    border-top: none;
    padding: 10px;
    ul {
        list-style: inside;
        margin: 0;
        padding: 0;
        a {
            color: $green-color;
        }
    }
}
/*end nav taps*/

// states box
.states-box {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0 0 9px 0 #dbdbdb;
    transition: $main-transition;
    &:hover {
        box-shadow: 0 0 9px 0 #b4b4b4;
    }
    .data-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 7px;
        .num-1 {
            color: #03a9f4;
        }
        .icon-1 {
            color: #03a9f4;
        }
        .num-2 {
            color: #ff835c;
        }
        .icon-2 {
            color: #ff835c;
        }
        .num-3 {
            color: $green-color;
        }
        .icon-3 {
            color: $green-color;
        }
        .num-4 {
            color: #ff594d;
        }
        .icon-4 {
            color: #ff594d;
        }
    }
    .text {
        margin-bottom: 15px;
    }
    .prog-box {
        .prog {
            width: 100%;
            height: 10px;
            border-radius: 20px;
            background-color: #e7e7e7;
            position: relative;
            span {
                height: 100%;
                border-radius: 20px;
                &.prog-1 {
                    position: absolute;
                    width: 80%;
                    background-color: #03a9f4;
                }
                &.prog-2 {
                    position: absolute;
                    width: 90%;
                    background-color: #ff835c;
                }
                &.prog-3 {
                    position: absolute;
                    width: 70%;
                    background-color: $green-color;
                }
                &.prog-4 {
                    position: absolute;
                    width: 70%;
                    background-color: #ff594d;
                }
            }
        }
    }
}

.box-report {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    min-height: 90px;
    padding: 10px;
    border: 1px solid $green-color;
    border-radius: 8px;
    box-shadow: inset 0px 3px 6px rgb(0 0 0 / 9%), 0px 3px 6px rgb(0 0 0 / 9%);
    transition: 0.7s;
    &:hover {
        box-shadow: inset 0 0 0 100px $green-color;
        p {
            color: white;
        }
    }
    p {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 18px;
        color: #020000;
        transition: 0.7s;
        @include maxWidth(lg) {
            // margin-left: 20px;
            font-size: 18px;
        }
    }
    .report-img {
        width: 50px;
        height: 50px;
        @include maxWidth(lg) {
            width: 60px;
            height: 55px;
        }
    }
}

.ayada {
    direction: rtl;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .text-mark {
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        font-weight: 700;
        border-radius: 30px;
        opacity: 0.2;
        border: 1px solid #ddd;
    }
    .pic-con {
        position: absolute;
        z-index: -1;
        left: 38px;
        top: 78px;
    }
    .pic-con2 {
        position: absolute;
        z-index: -1;
        left: 281px;
        top: 289px;
    }
    .pic-con3 {
        position: absolute;
        z-index: -1;
        left: 578px;
        top: 546px;
    }
    .pic-con4 {
        position: absolute;
        z-index: -1;
        left: 1000px;
        top: 800px;
    }
    @include maxWidth(md) {
        .pic-con {
            left: -3px;
            top: 69px;
        }
        .pic-con2 {
            left: 251px;
            top: 366px;
        }
        .pic-con3 {
            left: 580px;
            top: 646px;
        }
    }
    @include maxWidth(sm) {
        .pic-con {
            left: -104px;
            top: 66px;
        }
        .pic-con2 {
            left: 51px;
            top: 575px;
        }
        .pic-con3 {
            left: 580px;
            top: 646px;
        }
    }
    .page {
        z-index: 99;
        header {
            background-color: #c5b7ab;
            padding: 20px;
            display: flex;
            justify-content: center;
            z-index: 99;
        }
        .content {
            // min-height: 100vh;
            .text {
                text-align: center;
                h3 {
                    padding: 5px 0 5px;
                    font-size: 30px;
                    font-weight: 800;
                }
                p {
                    padding: 5px;
                    font-size: 26px;
                    font-weight: 600;
                    margin: 10px 0 5px;
                }
            }
            .table-container {
                overflow: auto;
                table {
                    margin: 100px auto 10px;
                    overflow-x: auto;
                    width: 100%;
                    thead {
                        background-color: rgba($color: #c5b7ab, $alpha: 0.5);
                        tr {
                            th {
                                border: 3px solid #ddd;
                                padding: 10px 20px;
                                color: #fff;
                            }
                        }
                    }
                    tbody {
                        background-color: rgba($color: #fff, $alpha: 0.3);
                        tr {
                            td {
                                padding: 10px 20px;
                                font-size: 18px;
                                border: 1px solid #ddd;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
        footer {
            margin: 50px 0 0;
            background-color: #c5b7ab;
            width: 100%;
            height: 100px;
        }
    }
    @media print {
        .container {
            max-width: unset !important;
            padding: 0 10px !important;
        }
        footer {
            display: none !important;
        }
    }
}

.content {
    .box {
        background-color: white;
        padding: 25px 15px;
        text-align: end;
        overflow: hidden;
        border-radius: 0.375rem;
        position: relative;
        box-shadow: 0 0 6px 0 #d3d3d3;
        transition: $transition;
        &:hover {
            box-shadow: 0 0 6px 0 #aeaaaa;
        }
        &.blue {
            .bg-icon {
                color: #5b8af0;
            }
        }
        &.green {
            .bg-icon {
                color: $green-color;
            }
        }
        &.pur {
            .bg-icon {
                color: #7b74eb;
            }
        }
        &.red {
            .bg-icon {
                color: #de5f56;
            }
        }
        .num {
            font-size: 25px;
        }
        .text {
            font-size: 16px;
            color: $text-greey;
        }
        .bg-icon {
            position: absolute;
            right: -3%;
            bottom: 0;
            font-size: 60px;
        }
    }
}
.box-status {
    display: flex;
    align-items: center;
    gap: 15px;
    .icon-style {
        color: $green-color;
        background-color: rgba($color: $green-color, $alpha: 0.2);
        border-radius: 50%;
        padding: 5px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .text {
        .count {
            font-size: 24px;
            font-weight: 700;
            color: #5e6060;
        }
        .title {
            font-size: 16px;
            font-weight: 400;
            color: #5e6060;
        }
    }
    &.blue {
        .icon-style {
            color: #01b3e4;
            background-color: rgba($color: #01b3e4, $alpha: 0.2);
        }
    }
    &.red {
        .icon-style {
            color: #de5f56;
            background-color: rgba($color: #de5f56, $alpha: 0.2);
        }
    }
    &.green {
        .icon-style {
            color: #2ba670;
            background-color: rgba($color: #2ba670, $alpha: 0.2);
        }
    }
    &.orange {
        .icon-style {
            color: #ffa808;
            background-color: rgba($color: #ffa808, $alpha: 0.2);
        }
    }
    &.purple {
        .icon-style {
            color: #6f65ec;
            background-color: rgba($color: #6f65ec, $alpha: 0.2);
        }
    }
}

.btn-box {
    border: 1px solid #ffaf10;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    padding: 18.5px 1rem;
    transition: 300ms;
    z-index: 1;
    height: 100%;
    position: relative;
    border-inline-start-width: 25px;
    .icon {
        width: 55px;
        height: auto;
    }
    &::before {
        content: "";
        z-index: -1;
        transition: 300ms;
        position: absolute;
        width: 25px;
        inset-inline-start: -25px;
        top: 0;
        bottom: 0;
        background-color: #ffaf10;
    }
    &:hover {
        &::before {
            width: 100%;
            inset-inline-start: 0;
        }
        color: white;
    }
    // Colors
    &.green {
        border-color: $green-color;
        &::before {
            background-color: $green-color;
        }
    }
    &.info {
        border-color: #46cec3;
        &::before {
            background-color: #46cec3;
        }
    }
    &.purple {
        border-color: #686bdf;
        &::before {
            background-color: #686bdf;
        }
    }
}

.card-doctor {
    border: 1px solid $main-color;
    background-color: white;
}
