// main-lable
.main-lable {
    font-size: 13px;
    margin-bottom: 3px;
}

// line-bottom-blue
.line-bottom-blue {
    position: relative;
    padding-bottom: 10px;
    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 100%;
        width: 72%;
        border-radius: 5px;
        height: 3px;
        background-color: $blue;
    }
}

// Small HEading
.small-heading {
    font-size: 15px;
    color: #6b7280;
    margin-bottom: 5px;
    font-weight: 600;
}

.breadcrumb {
    padding: 0 !important;
    margin-bottom: 1.5rem;
    align-items: center;
    background: transparent !important;
    .breadcrumb-item {
        font-size: 18px;
        color: #000000;
        opacity: 0.5;
        &::before {
            content: '';
        }
        &.active {
            padding-right: 1rem;
            font-weight: 500;
            font-size: 30px;
            opacity: 1;
        }
    }
}

.small-label {
    color: #6b7280;
    font-size: 12px;
    margin-bottom: 3px;
  }
