//colors
$main-color: #0890ab;
$green-color: #2ba670;
$grey-color: #9c9c9c;
$black-color: #000;
$white-color: #fff;
$color-box-shadow: #e4e4e485;
$light-grey-color: #ddd;
$light-greey: #f9fafb;
$light-greey2: #f1f1f1;
$text-greey: #6b7280;
$blue-color: #0e54ae;
$light-green-color: #03a0bc;
$purple: #8e44ad;
$greey-blue: #8f9ab8;
$section-color: #f7f6fe;
$title-color: #f0eff8;
$bg-dark: #313131;
$bg-dark-light: #4e4e4e;
//transition
$transition: 300ms;
$main-transition: 0.4s;
