body {
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: $section-color;
    color: black;
    font-size: 14px;
    scroll-behavior: smooth;
    direction: rtl;
}

/* start scroll bar */
::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 5px 0px #ddd inset;
}

::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 20px;

    &:hover {
        background-color: #09829a;
    }
}

/* end scroll bar */
// input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

// All Rest
* {
    @include all-reset;
}

*:not(input, textarea, select) {
    @include all-reset;
    text-transform: capitalize !important;
}

// a Reset
a {
    @include a-reset;
}

// reset btn
button {
    border: none;
    outline: none;
}

// Reset Form Control
.form-control,
.form-select {
    font-size: 14px !important;
    border: 1px solid $light-grey-color !important;

    &:focus {
        box-shadow: 0 0 0 0.25rem rgb(43 166 112 / 25%) !important;
    }

    &::placeholder {
        font-size: 11px;
    }

    &.sm-placeholder {
        &::placeholder {
            font-size: 9.5px;
        }
    }

    &:focus::placeholder {
        opacity: 0;
        transition: 0.4s;
    }
}

// main-section
.main-section {
    padding: 1.5rem 0;
    min-height: calc(100vh - 41.38px - 53.13px - 82px);
}

.dr-main-section {
    min-height: calc(100vh - 41.88px - 54px - 185px);
}

// Modal
.modal-header {
    .modal-title {
        font-size: 15px !important;
    }

    .btn-close {
        margin: unset !important;
    }
}

// section height
.getHeight {
    min-height: calc(100vh - 38.88px - 54.5px - 63px);
}

// container height
.getHeightContainer {
    min-height: calc(100vh - 41.88px - 54px - 69px - 6rem);
}

// edit modal Bootstrap
.modal.modal-img {
    .modal-body {
        position: relative;

        .btn-close {
            position: absolute;
            left: 10px;
            background-color: $grey-color;
            top: 10px;
        }
    }
}

// edit btn Bootstrap
.btn-info,
.btn-warning {
    color: $white-color !important;

    &:hover {
        color: $white-color !important;
    }

    &:focus {
        color: $white-color !important;
    }
}

//invoice page style
.scrl {
    overflow: auto;
}

/*
  /* Start invoice */

.box-invoice {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 8px;

    p {
        margin-bottom: 2px;
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }
}

.table-invoice {
    & .duble-border {
        border-bottom-width: 2px;
        border-bottom-color: black;
    }

    border: 1px solid #bbb !important;

    tbody {
        border-top: none !important;
    }

    td {
        border-bottom: 1px solid #bbb !important;
        border-top: 1px solid #bbb !important;
        border-right: 1px solid #bbb !important;
        border-left: 1px solid #bbb !important;
        vertical-align: middle;
        padding: 9px !important;
        font-size: 14px;
        font-weight: bold;
    }

    th {
        border-top: 1px solid #bbb !important;
        background-color: #f4f4f4;
        border-right: 1px solid #bbb !important;
        font-size: 14px !important;
        padding: 9px !important;
        font-weight: bolder;
        border-bottom: 1px solid #bbb !important;
        border-left: 1px solid #bbb !important;
    }

    @include maxWidth(sm) {
        td,
        th {
            font-size: 10px !important;
            padding: 5px !important;
        }

        .w-sm {
            width: 70px !important;
        }
    }

    & .td-head {
        background-color: #f4f4f4;
        border-left: 1px solid #bbb !important;
        text-align: right;
        font-size: 13px !important;
        font-weight: bold;
        width: 30%;

        @include maxWidth(sm) {
            width: 50%;

            b {
                font-size: 10px;
            }
        }
    }
}

.barcode {
    max-width: 150px !important;
}

.print {
    display: inline-block;
    width: fit-content;
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        color: white;
    }
}
@page {
    margin: 5px;
}
// print
@media print {
    body {
        background-color: white !important;
    }
    .table-responsive {
        overflow-x: unset !important;
    }
    .main-table {
        th,
        td {
            font-size: 11px !important;
            padding: 7px !important;
        }
    }
    .container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .col-md-4 {
        width: 33.33333333% !important;
    }

    .row-cols-lg-5 > * {
        width: 20% !important;
    }

    .row-cols-lg-4 > * {
        width: 25% !important;
    }

    .print-block {
        display: block !important;
    }

    .table-print {
        background-color: $white-color !important;
        min-height: 100vh !important;
    }

    .main-table {
        &.table-sm {
            tr {
                td {
                    font-size: 11px !important;
                }

                th {
                    font-size: 10px !important;
                }
            }
        }
        .table-column {
            display: flex;
            flex-direction: column;
            gap: 3px;
            th {
                border: 1px solid #ddd;
                .dd {
                    .nn {
                        b {
                            font-size: 8px !important;
                        }
                    }
                    font-size: 10px !important;
                }
            }
        }
    }

    .not-print {
        display: none !important;
    }

    .info-pas {
        display: block !important;
    }

    .text-holder {
        span {
            font-size: 10px !important;
        }
    }

    .table-responsive {
        width: 100% !important;
    }

    .ar {
        font-size: 19px !important;
    }

    .patientFile {
        .row > * {
            width: 20%;
        }

        .check {
            width: 50% !important;
        }

        .data-content {
            display: flex;
            gap: 10px;
            align-items: center;
            width: 100%;

            div {
                width: 50%;

                p {
                    font-size: 10px;
                    white-space: nowrap;
                }
            }
        }

        .wrapper {
            display: flex;

            .parent {
                display: flex;
                flex-direction: column;

                .data-content {
                    div {
                        width: 100%;

                        textarea {
                            min-height: 140px !important;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .data-content {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100% !important;

        div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100% !important;

            div {
                width: 50%;

                p {
                    font-size: 8px !important;
                    white-space: wrap !important;
                }

                &.holder {
                    width: 100% !important;

                    .special {
                        width: 100% !important;

                        textarea {
                            width: 100% !important;
                            min-height: 100px !important;
                        }
                    }
                }
            }
        }
    }

    .invoice-section {
        padding: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;

        .container {
            margin: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            background-color: transparent !important;
            box-shadow: none !important;
            padding: 0 !important;
        }
    }
}

// pages Loader
.loader-container {
    @include centering;
    z-index: 9999;
    background-color: #fffffff7;
    visibility: visible;
    opacity: 1;
    transition: $main-transition;

    .the_loader {
        @include circle(400px);
    }

    &.hidden-loader {
        opacity: 0;
        visibility: hidden;
    }

    .box-invoice {
        .col-md-4.p-3 {
            width: calc(100% / 3);

            * {
                font-size: 14px;
            }

            img {
                width: 100px;
            }
        }
    }

    .parent-barcode {
        width: 25%;
    }

    .table-info {
        width: 74%;
    }

    .table-invoice {
        margin: 0;

        th {
            font-size: 10px !important;
        }

        td {
            font-size: 11px !important;

            b {
                font-size: 11px;
            }
        }
    }
}

/* Start  num-teeth */

section.num-teeth {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.num-teeth .content {
    width: 700px;
    position: relative;
    margin: auto;
}

section.num-teeth .content > img {
    max-width: 100%;
}

section.num-teeth .content input[type="checkbox"] {
    width: 5px;
    position: absolute;
    height: 5px;
    appearance: none;
    -webkit-appearance: none;
}

section.num-teeth .content input[type="checkbox"]::before {
    content: "";
    width: 27px;
    position: absolute;
    background-color: transparent;
    left: 50%;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 27px;
}

section.num-teeth .content input[type="checkbox"]::after {
    content: "";
    width: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px 0 $blue-color;
    position: absolute;
    background-color: $blue-color;
    left: 50%;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
}

section.num-teeth .content input[type="checkbox"]:checked:after {
    content: "\f00c";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    box-shadow: 0 0 0px 0 $blue-color;
    filter: drop-shadow(2px 4px 6px $light-green-color);
    cursor: pointer;
    font-size: 35px;
    color: $light-green-color;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 575.98px) {
    section.num-teeth .container {
        min-height: calc(50vh);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.num-teeth .content input[type="checkbox"]::before {
        width: 10px;
        height: 10px;
    }

    section.num-teeth .content input[type="checkbox"]::after {
        width: 5px;
        height: 5px;
    }

    section.num-teeth .content input[type="checkbox"]:checked:after {
        font-size: 10px;
    }
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(1) {
    left: 4.7%;
    top: 39%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(2) {
    left: 11.5%;
    top: 40.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(3) {
    left: 18.7%;
    top: 41.7%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(4) {
    left: 24.8%;
    top: 43.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(5) {
    left: 29.7%;
    top: 44%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(6) {
    left: 35.3%;
    top: 44.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(7) {
    left: 40.7%;
    top: 45%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(8) {
    left: 46.3%;
    top: 45%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(9) {
    left: 52.3%;
    top: 44.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(10) {
    left: 57.8%;
    top: 44.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(11) {
    left: 63.6%;
    top: 44.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(12) {
    left: 69%;
    top: 44.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(13) {
    left: 73.8%;
    top: 44.3%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(14) {
    left: 80.21%;
    top: 43%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(15) {
    left: 87.4%;
    top: 41.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(16) {
    left: 94.6%;
    top: 39.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(17) {
    left: 94.6%;
    top: 51%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(18) {
    left: 86.1%;
    top: 52%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(19) {
    left: 78.25%;
    top: 54.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(20) {
    left: 71.77%;
    top: 56.1%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(21) {
    left: 66.37%;
    top: 56.7%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(22) {
    left: 61%;
    top: 57%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(23) {
    left: 56.1%;
    top: 57.3%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(24) {
    left: 51.65%;
    top: 57.7%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(25) {
    left: 47%;
    top: 57.5%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(26) {
    left: 42.75%;
    top: 57.3%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(27) {
    left: 37.8%;
    top: 57.3%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(28) {
    left: 32.35%;
    top: 56.7%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(29) {
    left: 26.9%;
    top: 56%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(30) {
    left: 20.25%;
    top: 54.6%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(31) {
    left: 12.5%;
    top: 51.6%;
}

section.num-teeth .content input[type="checkbox"]:nth-of-type(32) {
    left: 4.3%;
    top: 50.5%;
}

/* End  num-teeth */
.resize {
    max-width: 240px;
}

.resize-svg-Bo {
    width: 20px;
    height: 20px;
}

.tooltip-inner {
    max-width: 380px;
    width: 350px;
    letter-spacing: 2;
    padding: 10px;
    padding-bottom: 15px;
    line-height: 1.8;
}

.resize_ale {
    width: 250px !important;
    padding: 7px !important;
    font-size: 11px !important;
}

.resize_ale-2 {
    width: fit-content !important;
    padding: 10px !important;
    font-size: 13px !important;
}

.space-noWrap {
    white-space: nowrap;
}

// custom some different element in mobile screen
@include maxWidth(sm) {
    .sw-100 {
        width: 100% !important;
    }
}

// custom some different element in tablet screen
@include maxWidth(lg) {
    .lw-100 {
        width: 100% !important;
    }
}

.medical-information {
    .more-info {
        padding: 10px;
        background-color: $title-color;
        font-size: 16px !important;

        &::after {
            transition: $main-transition;
            content: "\002B";
            position: absolute;
            font-weight: 600;
            float: left;
            left: 15px;
        }

        &.active {
            &::after {
                transition: $transition;
                content: "\2212" !important;
            }
        }

        &:hover {
            background-color: #e9e8ea;
        }

        transition: $transition;
    }

    .data-content {
        transition: $main-transition;
        padding: 15px 15px 0;
        max-height: 0px;
        overflow: hidden;

        div {
            padding: 10px 0;

            .radioarea {
                background-color: #ebebebf5;
                padding: 6px !important;
                margin-bottom: 15px;
            }
        }
    }
}

.lang-control {
    font-size: 35px;
}

.lang {
    font-size: 23px;
}

.casher-invoice {
    width: 100%;
    font-size: 15px;
    min-height: 100vh;
    background-color: #f7f6fe;
    position: relative;

    @media print {
        padding: 0 !important;
        font-size: 13px;

        .container {
            width: 100% !important;
            padding: 0 !important;
            max-width: 100% !important;
        }

        td,
        th {
            padding: 2px !important;
        }
    }

    .text-mark {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        font-weight: 700;
        border-radius: 30px;
        opacity: 0.1;
        border: 1px solid #ddd;

        @include maxWidth(sm) {
            left: 50%;
            top: 30%;
            font-size: 50px;
            transform: translate(-50%, -50%);
        }
    }
}

.invoice-content-fi {
    position: relative;
    width: 650px;
    max-width: 100%;
    margin: 0 auto;

    .text-mark {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        font-weight: 700;
        border-radius: 30px;
        opacity: 0.1;
        border: 1px solid #ddd;

        @include maxWidth(sm) {
            left: 50%;
            top: 30%;
            font-size: 50px;
            transform: translate(-50%, -50%);
        }
    }

    .logo-holder {
        .the_image {
            width: 110px;
            max-width: 100%;
            height: auto;
        }
    }

    .main-table {
        thead {
            th {
                font-size: 12px;
                padding: 10px;
            }
        }

        tbody {
            td {
                font-size: 13px;
                padding: 10px;
            }
        }

        &.table-fi-invoice {
            tr {
                th {
                    width: 60%;
                    padding: 6px 5px;
                    font-size: 12px;
                }

                td {
                    font-size: 13px;
                    padding: 6px 5px;
                }
            }
        }
    }

    .wel-text {
        text-align: center;
        font-weight: 600;
    }

    .parent-boxes-info {
        width: 80%;
        max-width: 100%;

        .box-info-border {
            border: 1px dotted black;
            padding: 2px;
            display: flex;
            font-size: 15px;
            align-items: center;
            gap: 1px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .bar_code_holder {
        svg {
            width: 100%;
            height: 150px;
        }
    }

    @media print {
        box-shadow: none !important;
        padding: 0px !important;
        width: 100%;

        .logo-holder {
            .the_image {
                width: 80px;
            }
        }

        .holder-info {
            * {
                font-weight: 600;
                font-size: 11px !important;
            }
        }

        .main-table {
            thead {
                th {
                    font-size: 7px;
                    padding: 3px;
                }
            }

            tbody {
                td {
                    font-size: 7px;
                    padding: 3px;
                }
            }

            &.table-fi-invoice {
                tr {
                    th {
                        font-size: 9px;
                        padding: 5px;
                    }
                    td {
                        font-size: 10px;
                        padding: 5px;
                    }
                }
            }
        }

        .wel-text {
            font-size: 14px;
        }

        .parent-boxes-info {
            width: 100%;

            .box-info-border {
                font-size: 12px;
            }
        }

        .bar_code_holder {
            svg {
                height: 90px;
            }
        }
    }
}

// rooms
.room {
    position: relative;
    padding: 0.6rem 1.4rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    width: 87px;

    &.bg-danger {
        background-color: #fd2c32 !important;
    }

    &.bg-success {
        background-color: #2ecc6f !important;
    }

    .toltip-table {
        position: absolute;
        background-color: #2c2c2c;
        top: 52px;
        left: 0px;
        padding: 5px 7px;
        color: white;
        width: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        white-space: nowrap;
        transform: translateX(-50%);
        text-align: start;
        border-radius: 4px;
        visibility: hidden;
        opacity: 0;
        transition: 300ms;
        z-index: 1000;
        display: flex;
        flex-direction: column;

        .data {
            > li {
                font-size: 12px;
                line-height: 28px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: -15px;
            right: 0;
            border-width: 8px;
            border-color: transparent transparent #2c2c2c transparent;
            border-style: solid;
        }
    }

    &:hover {
        .toltip-table {
            visibility: visible;
            opacity: 1;
        }
    }
}

section.app {
    font-size: 15px;

    select {
        font-size: 15px;
    }

    .list-btn {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #f8f8f8;
        padding: 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .cards {
        .card-app {
            border: 1px solid #ddd;
            background-color: white;
            height: fit-content;

            .title-card-app {
                background-color: #eee;
                // color: #444;
                color: #777;
                font-size: 13.5px;
                padding: 0.5rem;
                text-align: center;
                font-weight: bold;
            }

            .body-card-app {
                overflow-y: auto;
                padding: 0 7px;
                padding-bottom: 5px;

                &.content {
                    height: calc(100% - 51.16px - 55.19px);
                }

                td,
                th {
                    font-size: 12px;
                    font-weight: normal;
                    vertical-align: middle;

                    .control-num {
                        cursor: pointer;
                    }
                }

                .footer-table {
                    background-color: #f0f0f0;

                    .num {
                        background-color: white;
                        border-radius: 3px;
                        border: 1px solid #eee;
                        padding: 5px 10px;
                        text-align: center;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        -ms-border-radius: 3px;
                        -o-border-radius: 3px;
                    }
                }

                .list-orders {
                    // height: 65px;
                    max-height: 169px;
                    display: grid;
                    gap: 8px;
                    align-items: start;
                    grid-template-columns: 1fr;

                    @include minWidth(sm) {
                        grid-template-columns: 1fr 1fr;
                    }

                    @include minWidth(md) {
                        grid-template-columns: 1fr 1fr 1fr;
                    }

                    @include minWidth(lg) {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                }
            }
        }
    }

    .btns-control {
        .btn {
            height: 40px;
            display: flex;
            align-items: center;
            width: 100% !important;
            justify-content: center;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
}

.full-w {
    @include maxWidth(sm) {
        width: 94% !important;
    }
}

.main-content {
    padding: 50px 0;

    .box {
        background-color: #fff;
        box-shadow: 0 0 10px #f1f1f1;
        border-radius: 10px;
        padding: 20px;

        .header {
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;
            border-bottom: 1px solid #ddd;

            h3 {
                font-size: 18px;
            }

            .logo {
                width: 120px;

                img {
                    width: 100%;
                }
            }
        }

        .content {
            direction: rtl;
            padding: 20px;

            p {
                font-weight: 800;
            }

            span {
                font-weight: 400;
            }
        }

        .table-responsive {
            overflow-x: auto;

            table {
                width: 100%;

                thead {
                    background-color: #f3f3f3;

                    tr {
                        th {
                            text-align: center;
                            border: 1px solid #000;
                            padding: 10px 20px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            text-align: center;
                            border: 1px solid #000;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }

        .foot-text {
            p {
            }

            .qr {
                width: 100px;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.swal-alert-info {
    .swal2-title {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

.fit-tooltip {
    .tooltip-inner {
        width: fit-content;
        padding: 7px;
        line-height: normal;
    }
}

.app-tree {
    display: flex;
    align-items: stretch;
    gap: 22px;

    .sidebar-app {
        width: 250px;
        background-color: #676767;
        padding: 7px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: white;

        .close {
            background-color: transparent;
            font-size: 25px;
            color: white;
            display: none;
            width: fit-content;
            margin: 0 auto 7px 15px;
        }

        .item {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 8px 20px;
            color: white !important;
            font-size: 14px;
            transition: 300ms;
            font-weight: 500;
            line-height: normal;

            &:hover {
                background-color: rgba(0, 0, 0, 0.079);
            }

            &.active {
                font-size: 14px;
                font-weight: 700;
                background-color: rgba(0, 0, 0, 0.079);
            }

            .icon {
                font-size: 16px;
            }

            .arrow {
                margin-right: auto;
                font-size: 12px;
                font-weight: 300;
                transition: transform ease-in-out 0.3s;
            }

            &.set-border {
                border-bottom: 1px solid #898989;
            }

            &[aria-expanded="true"] {
                .arrow {
                    transform: rotate(90deg);
                }
            }
        }

        .bar {
            background-color: #efefef;
            height: 0.5px;
            width: 100%;
        }

        $color_1: #c2c7d0;
        $color_2: #fff;
        $background-color_1: rgba(255, 255, 255, 0.1);
        $background-color_2: #c2c7d0;

        .option-section {
            .a_content {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    transform: rotate(180deg);
                    width: 6%;
                    height: 45px;
                    top: 23px;
                    right: 4px;
                    z-index: 1111;
                    border: 1px dashed #999;
                    visibility: visible;
                    opacity: 1;
                }
            }

            display: flex;
            flex-direction: column;

            .item {
                padding: 7px 10px;
                border-radius: 4px;
                color: $color_1;
                display: flex;
                gap: 10px;
                position: relative;
                font-size: 13px;
                align-items: center;

                &:hover {
                    background-color: $background-color_1;
                    color: $color_2;
                }

                .arrow-after {
                    display: none;
                    color: $color_1;
                    font-size: 14px;
                }

                .arrow-before {
                    color: $color_1;
                    font-size: 14px;
                }

                .content-item {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    i {
                        color: $color_1;
                        font-size: 16px;
                    }

                    svg {
                        color: $color_1;
                        font-size: 16px;
                    }
                }
            }

            .collapse-border {
                .item {
                    &::before {
                        content: "";
                        position: absolute;
                        right: -16px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 16px;
                        height: 1px;
                        background-color: $background-color_2;
                    }
                }

                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    right: 13.5px;
                    top: 0;
                    height: calc(100% - 17px);
                    width: 1px;
                    background-color: $background-color_2;
                }
            }

            .item[aria-expanded="true"] {
                .arrow-before {
                    display: none;
                }

                .arrow-after {
                    display: block;
                }
            }

            .mar-side {
                margin-right: 30px;
            }
        }
    }

    .btn-sidebar {
        width: fit-content;
        background: #efefef;
        color: black;
        display: none;
        font-size: 29px;
        padding: 5px 12px;
        border-radius: 3px;
    }

    .content-app {
        flex: 1;
    }

    @include maxWidth(lg) {
        gap: 1rem;
        flex-direction: column;

        .sidebar-app {
            .close {
                display: block;
            }

            position: fixed;
            right: -270px;
            z-index: 9999;
            transition: 300ms;
            top: 0;
            overflow-y: auto;
            height: 100%;

            &.active {
                right: 0;
            }
        }

        .btn-sidebar {
            display: block;
        }
    }
}
.fi-invoice {
    width: 500px;
    max-width: 100%;
    margin: auto;

    .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
        color: #444;
    }

    .table-des-1 {
        width: 100%;
        max-width: 100%;
        margin: 15px auto;

        tr {
            th {
                padding: 6px 10px;
                border: 1px solid #000;
                font-size: 14px;
            }

            td {
                padding: 6px 10px;
                border: 1px solid #000;
                font-size: 13px;
            }
        }
    }

    .title-bg {
        padding: 10px;
        font-size: 17px;
        background-color: #5d5b5b;
        margin-bottom: 15px;
        color: #fff;
    }

    .holder {
        .date,
        .time {
            font-size: 14px;
            color: #444;
        }
    }

    .barcode-holder {
        width: 100%;
        text-align: center;

        div {
            margin-right: 21px;
        }
    }

    .table-des-2 {
        width: 100%;
        max-width: 100%;
        margin: 15px auto 20px;

        thead {
            th {
                padding: 6px 10px;
                border: 1px solid #000;
                font-size: 14px;
                color: #fff;
                background-color: #5d5b5b;
            }
        }

        tbody {
            td {
                padding: 6px 10px;
                border: 1px solid #000;
                font-size: 13px;
            }
        }

        &.des-3 {
            border-top: 1px solid #000;

            tbody {
                tr {
                    border-bottom: 1px solid #000;

                    td {
                        border: none;
                    }
                }
            }
        }
    }

    .bar_code_holder {
        margin-top: 15px;

        svg {
            width: 110px;
            height: 110px;
        }
    }
    @media print {
        box-shadow: none !important;
        padding: 0 !important;
        h4 {
            font-size: 14px;
        }
        .logo-holder {
            .the_image {
                width: 80px;
                height: auto;
            }
        }
        .title {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
        .holder {
            .time,
            .date {
                font-size: 11px;
            }
            .barcode-holder {
                div {
                    margin-right: 0px;
                }
            }
        }
        .title-bg {
            font-size: 14px;
        }
        .table-des-1 {
            tr {
                th,
                td {
                    padding: 5px 8px;
                    font-size: 10px;
                    text-align: center;
                }
            }
        }
        .table-des-2 {
            thead {
                th {
                    padding: 5px 8px;
                    font-size: 11px;
                    text-align: center;
                }
            }
            tbody {
                td {
                    padding: 5px 8px;
                    font-size: 11px;
                    text-align: center;
                }
            }

            &.des-3 {
                tbody {
                    tr {
                        th {
                            font-size: 9px;
                            small {
                                font-size: 5px !important;
                            }
                        }
                        td {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .not-text {
            font-size: 8.2px;
        }
    }
}
